build/
release/
bootstrap/
config/

test.log

*.[oa]
*.so

test/*.ll
test/a.out
test/*.o
test/*.a
test/*.so

llvm-4.0.0.src/projects/compiler-rt/lib/lowfat/CMakeLists.txt

lowfat-0.1.0.tar.xz
lowfat-0.1.0/
